site_name: 苏方木的笔记
site_description: 苏方木的笔记
site_author: 苏方木
site_url: https://github.com/sufangmu

theme:
  name: 'material'
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch 
        name: 切换到明亮模式
      primary: light blue
    - scheme: slate 
      toggle:
        icon: material/toggle-switch-off-outline
        name: 切换到深色模式
      primary: black
  font:
    text: Ubuntu
    code: Ubuntu Mono
  language: zh
  programming: zh
  features:
    - navigation.instant  # 即时加载
    - navigation.top  # 返回顶部
    - search.suggest # 查询建议
    - search.highlight
    - navigation.tracking  # 锚点跟踪
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - header.autohide
    


markdown_extensions:
  - meta
  - toc:
      permalink: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.arithmatex:  # 数学表达式 
      generic: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sufangmu
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
  - javascripts/mathjax.js
  - javascripts/polyfill.min.js
  - javascripts/tex-mml-chtml.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css      


plugins:
  - search:
      separator: '[\s\-\.]+'   
      lang: 
        - en
nav:
  - 关于我: 'index.md'
  - Linux:
    - '命令行': 'linux/command-line.md'
    - '文本处理': 'linux/grep_sed_awk.md'
    - 'ShellScript': 'linux/ShellScript.md'
    - 'VIM': 'linux/vim.md'
    - '服务': 'linux/service.md'
    - 'TCP/IP': 'linux/network/TCP.md'
    - 'Iptables': 'linux/network/iptables.md'
    - '数字签名': 'linux/CA.md'
  - 数据库:
    - MySQL: 
      - '安装': 'databases/MySQL/安装.md'
      - '用户管理': 'databases/MySQL/用户管理.md'
      - '数据类型和运算符': 'databases/MySQL/数据类型和运算符.md'
      - 'SQL': 'databases/MySQL/SQL.md'
      - '存储过程和函数': 'databases/MySQL/存储过程和函数.md'
      - '索引': 'databases/MySQL/索引.md'
      - '执行计划': 'databases/MySQL/执行计划.md'
      - 优化:
        - 'SQL优化': 'databases/MySQL/SQL优化.md'
        - '索引优化': 'databases/MySQL/索引优化.md'
    - PostgreSQL:
      - 管理: 
        - '单实例安装': 'databases/PostgreSQL/管理/单实例安装.md'
        - '主备实例': 'databases/PostgreSQL/管理/主备实例.md'
        - '连接访问控制': 'databases/PostgreSQL/管理/连接访问控制.md'
        - '数据库': 'databases/PostgreSQL/管理/数据库.md'
        - '用户、角色和模式': 'databases/PostgreSQL/管理/用户、角色和模式.md'
        - '对象权限': 'databases/PostgreSQL/管理/对象权限.md'
        - '配置': 'databases/PostgreSQL/管理/配置.md'
        - 'basebackup': 'databases/PostgreSQL/管理/basebackup.md'
        - '逻辑备份': 'databases/PostgreSQL/管理/备份与恢复之逻辑备份恢复.md'
        - '物理备份恢复一': 'databases/PostgreSQL/管理/备份与恢复之物理备份恢复一.md'
        - '物理备份恢复二': 'databases/PostgreSQL/管理/备份与恢复之物理备份恢复二.md'
        - 'PITR': 'databases/PostgreSQL/管理/PITR.md'
        - '常用系统管理命令': 'databases/PostgreSQL/管理/常用系统管理命令.md'
        
      - 内部原理:
        - '架构': 'databases/PostgreSQL/原理/架构.md'
        - 'WAL': 'databases/PostgreSQL/原理/WAL.md'
        - 'FullPageWrite': 'databases/PostgreSQL/原理/FullPageWrite.md'
        - 'pg_control': 'databases/PostgreSQL/原理/pg_control.md'
        - 'Checkpoint': 'databases/PostgreSQL/原理/Checkpoint.md'
        - '数据库恢复': 'databases/PostgreSQL/原理/数据库恢复.md'
        - '数据文件和块存储结构': 'databases/PostgreSQL/原理/数据文件和块存储结构.md'
        - '元组结构和DML操作': 'databases/PostgreSQL/原理/元组结构和DML操作.md'
        - 'vacuum': 'databases/PostgreSQL/原理/vacuum.md'
        - 'autovacuum': 'databases/PostgreSQL/原理/autovacuum.md'
        - 'clog作用和管理': 'databases/PostgreSQL/原理/clog作用和管理.md'
        - 'Toast': 'databases/PostgreSQL/原理/Toast.md'
        - '冻结tixd': 'databases/PostgreSQL/原理/冻结tixd.md'
        - '事务与隔离级别': 'databases/PostgreSQL/原理/事务与隔离级别.md'
    - 性能测试:
      - BenchmarkSQL: 'databases/性能测试/benchmarksql.md'
      - sysbench: 'databases/性能测试/sysbench.md'
  - 服务:
    - Web:
      - 'Nginx': 'software/web/Nginx.md'
      - 'Tomcat': 'software/web/Tomcat.md'
    - 中间件:
      - 'RabbitMQ': 'software/middleware/rabbitmq.md'
  - 编程:
    - C:
      - '概述': 'programming/c/概述.md'
      - '基本概念': 'programming/c/基本概念.md'
      - '流程控制': 'programming/c/流程控制.md'
      - '数组': 'programming/c/数组.md'
      - '函数': 'programming/c/函数.md'
      - '指针': 'programming/c/指针.md'
      - '动态内存': 'programming/c/动态内存.md'
      - '结构体': 'programming/c/结构体.md'
      - '枚举': 'programming/c/枚举.md'
    - Python:
      - 基础:
        - 'python简介': 'programming/python/基础/01-python简介.md'
        - '基本数据类型': 'programming/python/基础/02-基本数据类型.md'
        - '逻辑控制': 'programming/python/基础/03-逻辑控制.md'
        - '函数': 'programming/python/基础/04-函数.md'
        - '面向对象': 'programming/python/基础/05-面向对象.md'
        - '包和模块': 'programming/python/基础/06-包和模块.md'
        - '迭代和推导': 'programming/python/基础/07-迭代和推导.md'
        - '文件处理': 'programming/python/基础/08-文件处理.md'
        - '异常处理': 'programming/python/基础/09-异常与测试.md'
        - '内置模块': 'programming/python/基础/01-内置模块.md'
        - '并发编程': 'programming/python/基础/02-并发编程.md'
        - '网络编程': 'programming/python/基础/03-网络编程.md'
        - '数据库编程': 'programming/python/基础/04-数据库编程.md' 
        - '迭代器和生成器': 'programming/python/基础/迭代器和生成器.md' 
        - '协程': 'programming/python/基础/协程.md' 
      - Django: 
        - '安装': 'programming/python/Django/install.md'
        - '请求': 'programming/python/Django/request.md'
        - '响应三板斧': 'programming/python/Django/response.md'
        - '路由层': 'programming/python/Django/urls.md'
        - '视图层': 'programming/python/Django/view.md'
        - '模板层': 'programming/python/Django/template.md'
        - '模型层': 'programming/python/Django/model.md'
        - '中间件': 'programming/python/Django/middleware.md'
        - '表单': 'programming/python/Django/forms.md'
        - 'auth模块': 'programming/python/Django/auth.md'
        - 'cookie和session': 'programming/python/Django/cookie&session.md'
        - 'admin': programming/python/Django/admin.md
      - DRF:
        - '安装': 'programming/python/DRF/install.md'
        - '序列化': 'programming/python/DRF/序列化.md'
        - '请求和响应': 'programming/python/DRF/请求和响应.md'
        - '视图': 'programming/python/DRF/视图.md'
        - '路由': 'programming/python/DRF/路由.md'
        - '认证、权限和频率': 'programming/python/DRF/认证、权限和频率.md'
        - '过滤、排序、异常处理': 'programming/python/DRF/过滤、排序、异常处理.md'
        - '自定义response': 'programming/python/DRF/自定义response.md'
      - Flask:
        - '简介与安装': 'programming/python/Flask/install.md'
        - '配置': 'programming/python/Flask/configure.md'
        - '请求和响应': 'programming/python/Flask/request&response.md'
        - '路由': 'programming/python/Flask/route.md'
        - '模板': 'programming/python/Flask/template.md'
        - '视图': 'programming/python/Flask/view.md'
        - 'cookie和session': 'programming/python/Flask/cookie&session.md'
        - '蓝图': 'programming/python/Flask/blueprint.md'
        - '上下文': 'programming/python/Flask/context.md'
        - '闪现': 'programming/python/Flask/flashing.md'
        - '中间件': 'programming/python/Flask/middleware.md'
        - 扩展:
          - 'flask-session': 'programming/python/Flask/extention/flask-session.md'
        - 源码:
          - 'Local': 'programming/python/Flask/sourcecode/Local.md'
          - 'Session': 'programming/python/Flask/sourcecode/session.md'
          - 'Context': 'programming/python/Flask/sourcecode/context.md'
      - 'Jinja2': 'programming/python/Jinja2.md'
      - '数据分析': 'programming/python/数据分析/数据分析.md'
      - 测试:
        - '单元测试': 'programming/python/测试/单元测试.md' 
    - Java:
      - 基础:
        - '概述': 'programming/java/基础/概述.md'
        - '语法': 'programming/java/基础/语法.md'
        - '数组': 'programming/java/基础/数组.md'
        - '面向对象（一）': 'programming/java/基础/面向对象（一）.md'
        - '面向对象（二）': 'programming/java/基础/面向对象（二）.md'
        - '面向对象（三）': 'programming/java/基础/面向对象（三）.md'
        - 'equals()和==': 'programming/java/基础/equals()和==.md'
        - '异常处理': 'programming/java/基础/异常处理.md'
      - 高级:
        - '多线程': 'programming/java/高级/多线程.md'
        - '常用类': 'programming/java/高级/常用类.md'
        - '枚举类': 'programming/java/高级/枚举类.md'
        - '泛型': 'programming/java/高级/泛型.md'
        - '集合': 'programming/java/高级/集合.md'
        - '反射': 'programming/java/高级/反射.md'
        - '注解': 'programming/java/高级/注解.md'
        - 'IO流': 'programming/java/高级/IO流.md'
        - '新特性': 'programming/java/高级/新特性.md'
      - JDBC: 'programming/java/JDBC/JDBC.md'
    - 'HTML': 'programming/html.md'
    - 'CSS': 'programming/CSS.md'
    - 'JavaScript': 'programming/JavaScript.md'     
    - 数据结构与算法:
      - '数据结构与算法': 'programming/DataStructuresAndAlgorithms/数据结构与算法.md'
  - DevOps:
    - 'Git': 'DevOps/Git/Git.md'
    - Jenkins:
      - 'jenkinsfile': 'DevOps/Jenkins/jenkinsfile.md'
      - 'pipeline-syntax': 'DevOps/Jenkins/jenkins-pipeline-syntax.md'
    - Ansible: 
      - 'Ansible基础': 'DevOps/Ansible/ansible.md'
      - 'AnsibleAPI': 'DevOps/Ansible/AnsibleAPI.md'
    - Docker:
      - '架构': 'DevOps/Docker/Architecture.md'
      - '底层技术': 'DevOps/Docker/underlyingtechnology.md'
      - '安装': 'DevOps/Docker/Install.md'
      - '镜像': 'DevOps/Docker/Image.md'
      - '容器': 'DevOps/Docker/Container.md'
      - '网络': 'DevOps/Docker/Network.md'
      - '数据卷': 'DevOps/Docker/Volume.md'
      - 'Dockerfile': 'DevOps/Docker/Dockerfile.md'
      - 'system子命令': 'DevOps/Docker/system子命令.md'
      - '容器与镜像的导入导出区别': 'DevOps/Docker/容器与镜像的导入导出区别.md'
      - '网络原理': 'DevOps/Docker/Networking.md'
      - '存储驱动': 'DevOps/Docker/StorageDriver.md'
      - '容器安全': 'DevOps/Docker/Security.md'
  - 文档: 'resource/docs.md'
  - English:
    - 新概念:
      - NCE2: 'english/NCE/NCE2.md'
      - NCE3: 'english/NCE/NCE3.md'
      - NCE4: 'english/NCE/NCE4.md'
      - Expressions: 'english/NCE/Expressions.md'
    - 语法:
      - '综述': 'english/grammar/综述.md'
      - '语态': 'english/grammar/语态.md'
      - '词性': 'english/grammar/词性.md'
      - '动词': 'english/grammar/动词.md'
      - '从句': 'english/grammar/从句.md'
      - '倒装': 'english/grammar/倒装.md'
    - IELTS:
      - '学习方法': 'english/IELTS/学习方法.md'
      - 'TASK': 'english/IELTS/task.md'
